@model ExamCenterApp.ViewModel.Student_Model

<button type="button" class="btn btn-light" style="float:right;">
    <a class="navbar-brand" asp-action="Create" asp-controller="Student">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
        </svg>
    </a>
</button>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Course </th>
            <th scope="col">Exam Date </th>
            <th scope="col">Start Time</th>
            <th scope="col">Duration</th>
            <th scope="col">End Time</th>
            <th scope="col">Teacher</th>
            <th scope="col">Additional Notes</th>

            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        
            @foreach (var obj in Model.students)
            {
               
            <tr>
                <td>@obj.id</td>
                <td>@obj.first_name  @obj.last_name</td>
                <td>@obj.exam_course</td>
                <td>@obj.exam_start_time.DayOfWeek @obj.exam_start_time.Day,@obj.exam_start_time.ToString("MMM")</td>
                <td>@obj.exam_start_time.ToString("hh:mm tt")</td>
                <td>@obj.exam_duration.Hours h @obj.exam_duration.Minutes m </td>
                <td>@obj.exam_end_time.ToString("hh:mm tt")</td> @* why is it all ending by 12? Even though thats not what is on the db? *@
                <td>@obj.teacher_name , @obj.teacher_email</td>
                <td>@obj.additional_notes</td>

             </tr>
            }
    </tbody>
</table>


